* {
    margin: 0;
    font-family: "Karla", sans-serif;
}

body {
    height: 100vh;
    background-color:   hsl(148, 38%, 91%);
    display: flex;
    justify-content: center;
    align-items: center;
} 


.paretn-div {
    display: block;
    border-radius: 10px;
    width: 50%;
    background-color: white;
    padding: 30px;
}

.radiobtn {
    text-align: start;
}

textarea {
    height: 100px;
}

.btnsub {
    background-color: hsl(169, 82%, 27%);
    height: 50px;
    border:1px solid hsl(169, 82%, 27%);
    border-radius: 6px;
    color: white;
}

.radiobtn:active {
    background-color: hsl(169, 82%, 27%);
}

.form-control:hover {
    border:1px solid hsl(169, 82%, 27%);
}

.radiobtn:hover {
    background-color: hsl(148, 38%, 91%);
}

.btnsub {
    transition: 0.2s;
}

.btnsub:hover {
    background-color: hsl(148, 38%, 91%);
    color: black;
    border: 0;
}




/* ---------------------------- */




@media screen and (max-width: 480px) {
    .paretn-div {
        width: 80%;
        padding: 20px 15px;
    }
    
    #textarea {
        resize: none;
    }
}
@media screen and (max-width: 900px) {
    .paretn-div {
        width: 80%;
    }
}